<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>找回密码</title>
    <!-- 1. 导入vue -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
	<!-- 2. 导入css -->
	<link href="https://cdn.bootcss.com/element-ui/2.8.2/theme-chalk/index.css" rel="stylesheet">
	<!-- 3. 引入ElementUI组件 -->
	<script src="https://cdn.bootcss.com/element-ui/2.8.2/index.js"></script>
</head>
<body>
    <div id="app">
        <el-input type="text" placeholder="请输入用户名" name="user" v-model="user" class="login-user"></el-input>
    </div>


    <script>
        var app = new Vue({
		el:"#app",
		data:{
			user:"",
			pwd:""
		},
		methods:{
			upsubmit:function(){
				if(this.user){
					document.login.submit();
				}
				else{
					this.$message.error({
					  showClose: true,
					  message: '请输入用户名',
					  type: 'error',
					  center: true

					});
				}
			}
		}
	})
    </script>
</body>
</html>