<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>成功</title>
</head>
<body>
    <h1>成功</h1>
<hr>
    <form action="/upload_site/showlist/" method="get" enctype="multipart/form-data">
        <input type="text" name="user" value="{{user}}" readonly="readonly" style="display:none">
        <input type="text" name="authority" value="{{authority}}" readonly="readonly" style = "display:none">
        <input type="text" name="pwd" value="{{pwd}}" readonly="readonly" style = "display:none">
        <input type="submit" value="查看列表">
    </form>
    <form action="/upload_site/submit/" method="get" enctype="multipart/form-data">
        <input type="text" name="user" value="{{user}}" readonly="readonly" style="display:none">
        <input type="text" name="authority" value="{{authority}}" readonly="readonly" style = "display:none">
        <input type="text" name="pwd" value="{{pwd}}" readonly="readonly" style = "display:none">
        <input type="submit" value="继续上传">
    </form>
</body>
</html>